.Main {
    display: flex;
    flex-direction: column; /* תפריט אנכי */
    justify-content: center;
    align-items: center;
    padding: 20px; /* ריפוד פנימי */
    background-color: #fdf5e6; /* רקע בצבע חמים */
    color: #333; /* צבע טקסט כהה */
}

.Main a {
    text-decoration: none;
    color: #333; /* צבע טקסט כהה */
    padding: 10px 20px; /* מרווח פנימי */
    margin: 5px 0; /* מרווח בין כפתורים */
    background-color: #f0e68c; /* צבע רקע חם */
    border: 2px solid #d4af37; /* מסגרת */
    border-radius: 10px; /* פינות מעוגלות */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* אנימציה של המעבר */
    text-align: center; /* מיריב תוכן */
}

.Main a:hover {
    background-color: #d4af37; /* צבע רקע לצהוב כהה */
    color: #fff; /* צבע טקסט לבן */
    border-color: #fff; /* צבע מסגרת ללבן */
}
